@using System.Security.Cryptography.X509Certificates
@model List<TwitterApi.Models.TwitterFeedModel>

@{
    var titleHeading = "Username Not Found";
    var titleDescription = "Please type a valid Twitter user e.g. BBC, BBCnews, Channel_5 ...";
    var screenName = "Not found";
    var screenNameUrl = "#";

    if (Model != null)
    {
        if (Model.Count > 0)
        {
            titleHeading = Model.First().user.name;
            screenName = Model.First().user.screen_name;
            titleDescription = Model.First().user.description;
            screenNameUrl = Model.First().user.url?.ToString() ?? "#";
        }
    }
}

<div class="b-example-divider"></div>

<section class="jumbotron text-center" style="margin-bottom: 0px">
    <div class="container">
        <div class="jumbotron-fluid">
            <h1 class="display-4">@titleHeading</h1>
        </div>
        <p class="lead text-muted">@titleDescription</p>
        <p>
            <button type="button" data-toggle="modal" data-target="#addTwitterModal" data-twitter-recipient="@titleHeading" class="btn btn-primary my-2">Add another Twitter</button>
            <a href="@screenNameUrl" class="btn btn-secondary my-2" target="_blank">View @screenName</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            @if (Model != null)
            {
                foreach (var tweet in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">

                            @if (tweet.entities.media != null)
                            {
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="@tweet.entities.media[0].media_url_https" alt="Tweet Image" />
                            }
                            else
                            {
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">No Image</text></svg>
                            }

                            <div class="card-body">
                                <p class="card-text">"@tweet.text</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('@TwitterApi.Data.Helpers.TwitterHelper.GetMainTweetUrl(tweet)')">View on Twitter</button>
                                    </div>

                                    <small class="text-muted">@tweet.created_at</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            @* Add Twitter Modal *@
            @await Html.PartialAsync("_AddTwitterModal")
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#addTwitterUserName").click(function (e) {
            var userName = $("#twitterUserNameTxt").val();
            window.location.href = "@Url.Action("TwitterHome", "Home")" + "/" + userName;
        });
    </script>
}
